body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  padding: 0;
}

/* =============================== */
/* NAVIGATION */
/* =============================== */

#navigation {
  /* display: none; */
}

#main-menu {
  margin: auto;
}

.nav-item {
  margin: 0 15%;
}

/* =============================== */
/* WELCOME */
/* =============================== */

#welcome {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/backgroundimg.png);
  background-size: cover;
}
