body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

/* =============================== */
/* NAVIGATION */
/* =============================== */

#navigation {
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#main-menu .nav-link {
  color: #fff;
}

#main-menu .nav-link:hover {
  color: #c13584;
  font-weight: 600;
}

/* =============================== */
/* WELCOME */
/* =============================== */

#home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/backgroundimg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  border: 5px solid #fff;
}

#profile-img:hover {
  transform: scale(1.1);
  border: 5px solid #c13584;
}

.social-media-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  margin: 10% 0;
}

.fa-facebook {
  color: #3b5998;
}

#facebook-icon:hover {
  transform: scale(1.1);
}

.fa-instagram-square {
  color: #c13584;
}

.fa-instagram-square:hover {
  transform: scale(1.1);
}

.facebook-btn {
  /* background: linear-gradient(rgba(59, 89, 152, 0.75), rgba(0, 0, 0, 0.5)); */
  background-color: #2d88ff;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 20rem;
}

#link-to-facebook {
  color: #fff;
}

.facebook-btn .fa-facebook {
  color: #fff;
}

.facebook-btn:hover {
  transform: scale(1.1);
}

/* =============================== */
/* PRICING */
/* =============================== */

#pricing {
  margin: 5% 0;
}

#pricing .card:hover {
  border: 5px solid #c13584;
}

#pricing h5 {
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
}

#pricing .btn {
  background-color: #2d88ff;
  width: 12.5rem;
}

#pricing .btn:hover {
  transform: scale(1.1);
}

#pricing a {
  text-transform: uppercase;
  font-weight: 600;
}

#pricing .fa-facebook {
  color: #fff;
}
