body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  padding: 0;
}

/* =============================== */
/* NAVIGATION */
/* =============================== */

#navigation {
  font-size: 1.5rem;
}

#main-menu-container {
  display: flex;
  justify-content: center;
}

#main-menu {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

/* =============================== */
/* WELCOME */
/* =============================== */

#welcome {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/backgroundimg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-img {
  border-radius: 50%;
  width: 20rem;
  border: 5px solid #fff;
}

.social-media-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  margin: 10% 0;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram-square {
  color: #c13584;
}

.facebook-btn {
  background-color: #fff;
  font-size: 1.25rem;
}
